<header class="flexrow">
    <a class="effect-control" data-action="create" data-effect-type="temporary">
        <i class="fas fa-plus"></i> Add Temporary Effect
    </a>
    <a class="effect-control" data-action="create" data-effect-type="passive">
        <i class="fas fa-plus"></i> Add Passive Effect
    </a>
</header>

<div class="effects-list">
  {{#each effects.temporary.effects as |effect id|}}
    <div class="effect flexrow" data-effect-id="{{effect.id}}">
      <img src="{{effect.icon}}" title="{{effect.label}}" width="24" height="24"/>
      <h4 class="effect-name">{{effect.label}}</h4>
      <div class="effect-controls">
        <a class="effect-control" data-action="edit"><i class="fas fa-edit"></i></a>
        <a class="effect-control" data-action="delete"><i class="fas fa-trash"></i></a>
        <a class="effect-control" data-action="toggle" title="{{#if effect.disabled}}Enable{{else}}Disable{{/if}}">
          <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
        </a>
      </div>
    </div>
  {{/each}}
  
  {{#each effects.passive.effects as |effect id|}}
    <div class="effect flexrow" data-effect-id="{{effect.id}}">
      <img src="{{effect.icon}}" title="{{effect.label}}" width="24" height="24"/>
      <h4 class="effect-name">{{effect.label}}</h4>
      <div class="effect-controls">
        <a class="effect-control" data-action="edit"><i class="fas fa-edit"></i></a>
        <a class="effect-control" data-action="delete"><i class="fas fa-trash"></i></a>
        <a class="effect-control" data-action="toggle" title="{{#if effect.disabled}}Enable{{else}}Disable{{/if}}">
          <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
        </a>
      </div>
    </div>
  {{/each}}
  
  {{#each effects.inactive.effects as |effect id|}}
    <div class="effect flexrow inactive" data-effect-id="{{effect.id}}">
      <img src="{{effect.icon}}" title="{{effect.label}}" width="24" height="24"/>
      <h4 class="effect-name">{{effect.label}}</h4>
      <div class="effect-controls">
        <a class="effect-control" data-action="edit"><i class="fas fa-edit"></i></a>
        <a class="effect-control" data-action="delete"><i class="fas fa-trash"></i></a>
        <a class="effect-control" data-action="toggle" title="{{#if effect.disabled}}Enable{{else}}Disable{{/if}}">
          <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
        </a>
      </div>
    </div>
  {{/each}}
</div>
