<section class="masteries">
  <h3>Masteries</h3>
  <div class="masteries-container">
    {{!-- Domains --}}
    <div class="mastery-category">
      <h4>Domains</h4>
      <div class="mastery-grid">
        <div class="mastery-item">
          <label>Creation</label>
          <input type="text" name="system.masteries.creation.value" value="{{system.masteries.creation.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Destruction</label>
          <input type="text" name="system.masteries.destruction.value" value="{{system.masteries.destruction.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Perception</label>
          <input type="text" name="system.masteries.perception.value" value="{{system.masteries.perception.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Transformation</label>
          <input type="text" name="system.masteries.transformation.value" value="{{system.masteries.transformation.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Control</label>
          <input type="text" name="system.masteries.control.value" value="{{system.masteries.control.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
      </div>
    </div>

    {{!-- Forms --}}
    <div class="mastery-category">
      <h4>Forms</h4>
      <div class="mastery-grid">
        <div class="mastery-item">
          <label>Animal</label>
          <input type="text" name="system.masteries.animal.value" value="{{system.masteries.animal.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Aquatic</label>
          <input type="text" name="system.masteries.aquatic.value" value="{{system.masteries.aquatic.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Auric</label>
          <input type="text" name="system.masteries.auric.value" value="{{system.masteries.auric.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Corporal</label>
          <input type="text" name="system.masteries.corporal.value" value="{{system.masteries.corporal.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Floral</label>
          <input type="text" name="system.masteries.floral.value" value="{{system.masteries.floral.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Igneous</label>
          <input type="text" name="system.masteries.igneous.value" value="{{system.masteries.igneous.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Illusory</label>
          <input type="text" name="system.masteries.illusory.value" value="{{system.masteries.illusory.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Mental</label>
          <input type="text" name="system.masteries.mental.value" value="{{system.masteries.mental.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Terrestrial</label>
          <input type="text" name="system.masteries.terrestrial.value" value="{{system.masteries.terrestrial.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
        <div class="mastery-item">
          <label>Chronoetheric</label>
          <input type="text" name="system.masteries.chronoetheric.value" value="{{system.masteries.chronoetheric.value}}" data-dtype="Number" min="0" max="5"/>
        </div>
      </div>
    </div>
  </div>
</section>
